.education {
    color: white;
    padding: 40px;

    h1 {
        padding: 20px;
    }

    ul {
        margin-bottom: 40px;
    }

    li {
        color: white;
        font-size: 1.3rem;
    }
}